<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="{{title}}" src="assets/images/logo-racebets.svg">
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-md-3">
    <app-racebet-filter></app-racebet-filter>
  </div>
  <div class="col-md-3 col-lg-3 col-xs-12 col-sm-6">
    <app-race-next></app-race-next>
  </div>
</div>
