<div class="race-type-filter">
  <div class="btn-group race-type-holder" role="group" aria-label="Basic example">
    <a (click)="applyFilter(constants.GALLOP)" data-type="Gallop" [ngClass]="{'blocked':!states.isGallopFilterEnabled}" class="type-g btn btn-default">
      <span class="bg"></span>
      <div class="icons silks type-g"></div>
    </a>
    <a (click)="applyFilter(constants.JUMP)" data-type="Jump" [ngClass]="{'blocked':!states.isJumpFilterEnabled}" class="type-j btn btn-default">
      <span class="bg"></span>
      <div class="icons silks type-j"></div>
    </a>
    <a (click)="applyFilter(constants.TROT)" data-type="Trot" [ngClass]="{'blocked':!states.isTrotFilterEnabled}" class="type-t btn btn-default">
      <span class="bg"></span>
      <div class="icons silks type-t"></div>
    </a>
    <a (click)="applyFilter(constants.DOG)" data-type="Dog" [ngClass]="{'blocked':!states.isDogFilterEnabled}" class="type-d  btn btn-default">
      <span class="bg"></span>
      <div class="icons silks type-d"></div>
    </a>
  </div>
</div>
