.race-type-filter {
    .race-type-holder {
        background: #393A39;
        padding: 1.5%;
        width: auto;
    }
}

button.disabled {
    span.bg {
        background: #f1e8e8;
    }
}

span.bg {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin-right: 2%;
}

.type-g {
    span.bg {
        background: #00912B;
    }
}

.type-j {
    span.bg {
        background: #004ED5;
    }
}

.type-t {
    span.bg {
        background: #FF6644;
    }
}

.type-d {
    span.bg {
        background: #E1039B;
    }
}

a.btn {
    &.blocked {
        background: #f1ebeb;
        opacity: .8;
    }
}


