/* You can add global styles to this file, and also import other style files */

.clearfix {
  clear: both;
  display: block;
}

.icons {
  &.flags {
    width: 14px;
    height: 11px;
    margin-left: 1px;
    margin-right: 4px;
    margin-top: 2px;
    vertical-align: middle;
    box-shadow: 0 0 0 1px rgba(165, 165, 165, .6);
    background: url(assets/images/flag/flags-sd898df6596.png) 0 11px no-repeat #f7f7f7;

    &.GB {
      background-position: 50% -856px;
      background-color: #fff;
    }
    &.IE{
      background-position: 50% -1142px;
      background-color: #fff;
    }
  }
  /*Silks*/
  &.silks {
    position: relative;
    margin-top: -3px;
    margin-bottom: -4px;
    width: 30px;
    height: 18px;
    background-color: transparent;
    display: inline-block;
    background: url(assets/images/icons/icons-sbc340e792e.png) no-repeat;

    &.type-d {
      background-position: 0 -436px;
    }

    &.type-d-i {
      background-position: 0 -323px;
    }

    &.type-g {
      background-position: 0 -380px;
    }

    &.type-g-i {
      background-position: 0 -268px;
    }

    &.type-t-i {
      background-position: 0 -240px;
    }

    &.type-t {
      background-position: 0 -352px;
    }

    &.type-j {
      background-position: 0 -408px;
    }

    &.type-j-i {
      background-position: 0 -296px;
    }
  }
}
