/* You can add global styles to this file, and also import other style files */
.clearfix {
  clear: both;
  display: block;
}

.icons {
  /*Silks*/
}

.icons.flags {
  width: 14px;
  height: 11px;
  margin-left: 1px;
  margin-right: 4px;
  margin-top: 2px;
  vertical-align: middle;
  box-shadow: 0 0 0 1px rgba(165, 165, 165, 0.6);
  background: url(assets/images/flag/flags-sd898df6596.png) 0 11px no-repeat #f7f7f7;
}

.icons.flags.GB {
  background-position: 50% -856px;
  background-color: #fff;
}

.icons.flags.IE {
  background-position: 50% -1142px;
  background-color: #fff;
}

.icons.silks {
  position: relative;
  margin-top: -3px;
  margin-bottom: -4px;
  width: 30px;
  height: 18px;
  background-color: transparent;
  display: inline-block;
  background: url(assets/images/icons/icons-sbc340e792e.png) no-repeat;
}

.icons.silks.type-d {
  background-position: 0 -436px;
}

.icons.silks.type-d-i {
  background-position: 0 -323px;
}

.icons.silks.type-g {
  background-position: 0 -380px;
}

.icons.silks.type-g-i {
  background-position: 0 -268px;
}

.icons.silks.type-t-i {
  background-position: 0 -240px;
}

.icons.silks.type-t {
  background-position: 0 -352px;
}

.icons.silks.type-j {
  background-position: 0 -408px;
}

.icons.silks.type-j-i {
  background-position: 0 -296px;
}
