$basecolor: #393A39;
$rounded:3px;
div.race-box-widget {
    background: $basecolor;
    border-radius: $rounded;
    padding: 1%;
    font-family: Tahoma, Geneva;
    .race-box-header-section {
        &::after {
            clear: both;
            display: block;
        }
        .race-top-header,
        .race-bottom-header {
            color: white;
            padding: 2%;
            font-size: 12px;
        }
        .race-top-header {
            font-size: 11px;
            word-spacing: 2px;
            font-weight: bold;
        }
        .race-bottom-header {
            font-size: 11px;
            word-spacing: 2px;
        }
        .divider {
            width: 96%;
            border-top: 1px solid #383131;
            border-bottom: 1px solid #7b7272;
            margin: 0 auto;
        }
    }
    .race-box-content {
        background: white;

        div.entry {
            padding: 4% 3%;
            border-bottom:1px solid #d8d8d8;
            .details {
                img.silkImage {
                    width: 16px;
                    height: 16px;
                }
                span{
                  font-size:13px;
                  line-height:1px;
                }
            }
            .pull-right{
              &::after{
                clear:both;
                display:block;
              }
              a{
                &::hover{
                  color:white;
                }
                text-decoration: none;
                span.points{
                  background: linear-gradient(#ffd361, #f69610);
                  &::hover{
                    background: linear-gradient(#ffd361, #ff9502);

                  }
                  width: 35px;
                  display: block;
                  text-align: center;
                  padding: 1%;
                  font-size: 13px;
                  border-radius: 2px;
                  border: 1px solid #f69610;

                }
              }


            }
        }
    }
}
