<div class="race-box-widget" *ngIf="raceData != null">
  <div class="race-box-header-section">
    <div class="race-top-header">
      <div class="pull-left">
        <div [ngClass]="getCountryFlag(raceData.event.country)" class=" pull-left"></div>
        <span class="pull-left">{{raceData.event.title}}</span>
        <div class="clearfix"></div>
      </div>
      <div class="pull-right">
        <span>{{countDown(raceData.post_time)}}</span>
      </div>
      <div class="clearfix"></div>

    </div>
    <div class="divider"></div>
    <div class="race-bottom-header">
      <div class="pull-left">
        <span>{{raceData.runners.length}} runners | {{raceData.distance}}m | {{raceData.purse.currency === 'GBP' ? toEuro(raceData.purse.amount) : raceData.purse.amount}} EUR</span>
      </div>
      <div class="pull-right">
        <div [ngClass]="getCssRaceType(raceData.race_type)" class="icons silks "></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="race-box-content">
    <div class="entry" *ngFor="let runner of raceData.runners">
      <div class="details pull-left">
        <span *ngIf="runner.silk !== ''">
            <img class="silkImage" [src]="getSilkImage(runner.silk)"  />
        </span>

        <span>{{runner.name}}</span>
      </div>
      <div class="pull-right">
        <a [href]="getRaceUrl(raceData.id_race)">
          <span class="points">{{runner.odds}}</span>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>


  </div>
</div>
